<!DOCTYPE html>
<html lang="es">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width:device-width, maximun-scale=1"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<link rel="stylesheet" href="../static/css/normalize.css">


		<link rel="stylesheet" type="text/css" href="../jquery.fullPage.css" />
		<link rel="stylesheet" type="text/css" href="examples.css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="../jquery.fullPage.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#fullpage').fullpage({
					sectionsColor: ['#4BBFC3', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff']
				});
			});
		</script>

	</head>
	<body>
	<div id="header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link"href="#section0">Inicio</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#section1">Recomendaciones</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link"  href="#section2">Envio</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#section3">Contacto</a>
				</li>
			</ul>
		</nav>
	</div>
	<div id="fullpage">
		<div class="section active" id="section0">
			<header id="yo" class="Header">
				<figure class="Header-imageContainer">
					<img src="../static/images/avatar.jpeg" alt="Imagen personal" class="Header-image">
					<figcaption  class="Header-imageDescription">
						<a class="Header-link"href="http://twitter/FrGZ" target="_blank">@FrGZ</a>
					</figcaption>
				</figure>
				<p class="Header-name">Francis Gonzalez</p>
			</header>
			<section id="Profile" class="Profile">
				<!--<h2 class="u-title">Mi perfil</h2>-->
				<p class="Profile-Description">
					xxxxxxxxxxxxxxxxxxxxxxxXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
				</p>
				<section class="Profile-redes">
				<a class="Profile-link" href="http://Twitter/FrGZ" target="_blank">@FrGZ</a>
				<a  class="Profile-link2" href="http://Facebook/FrGZ" target="_blank">
					<img src="../static/images/envios/estafeta.png" class="Header-image2">
				</a>
				<a  class="Profile-link" href="http://GitHub/FrGZ" target="_blank">@Github</a>
				</section>
			</section>
		</div>
		<div class="section" id="section1">
	    <div class="slide ">
	    	<section id="trabajo" class="Work">
					<h2 class="Work-title u-title">Recomendaciones</h2>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
				</section>	
	    </div>
	    <div class="slide active">
	    	<section id="trabajo" class="Work">
					<h2 class="Work-title u-title">Recomendaciones</h2>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
				</section>	
	    </div>
	    <div class="slide">
	    	<section id="trabajo" class="Work">
					<h2 class="Work-title u-title">Recomendaciones</h2>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
				</section>	
	    </div>
	    <div class="slide">
	    	<section id="trabajo" class="Work">
					<h2 class="Work-title u-title">Recomendaciones</h2>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
					<article class="Work-item">
						<figure class="Work-imageContainer">
							<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion dela imagen">
							<figcaption class="Work-description">descripcion</figcaption>
						</figure>
					</article>
				</section>	
	    </div>
		</div>
		<div class="section" id="section2">
			<!--<footer id="contacto" class="Footer">
				<div class="Footer-left">
					<h3 class="Footer-title">Contacto</h3>
					<p class="Footer-description">Formulario de contacto para cualquier duda do sugerencia</p>
				</div>
				<form class="Footer-form">
					<input class="Footer-formInput" type="text" placeholder="Nombre"/>
					<input class="Footer-formInput" type="email" placeholder="Email"/>
					<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
					<button class="Footer-button" type="submit">Contactar</button>
				</form>
			</footer>-->
			<section>
				<article class="Envios-item">				
					<figure class="Header-imageContainer">
						<img src="../static/images/envios/redpack.jpg" alt="Imagen personal" class="Header-image">
						<figcaption  class="Header-imageDescription">
							<p class="Envios-titulo">Redpack</p>
							<span class="Envios-descripcion"> Costo de $100 a $150 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum soluta pariatur sit impedit tenetur illum minima, autem earum excepturi, sequi, molestiae consequuntur natus quas esse laboriosam deserunt reprehenderit porro sunt.</span>
						</figcaption>
					</figure>
				</article>
				<article class="Envios-item">
					<figure class="Header-imageContainer">
						<img src="../static/images/envios/estafeta.png" alt="Imagen personal" class="Header-image">
						<figcaption  class="Header-imageDescription">
							<p class="Envios-titulo">Estafeta</p> 
							<span class="Envios-descripcion">Costo de $100 a $150 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque dolor repellat enim laboriosam ipsam delectus, tenetur ipsum ex quisquam quam vitae, facilis nesciunt magni suscipit amet adipisci molestias dolore sed.</span>
						</figcaption>
					</figure>
				</article>
				<article class="Envios-item">
					<figure class="Header-imageContainer">
						<img src="../static/images/envios/correos.png" alt="Imagen personal" class="Header-image">
						<figcaption  class="Header-imageDescription">
							<p class="Envios-titulo">Correos de Mexico</p> 
							<span class="Envios-descripcion"> Costo de $100 a $150 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo culpa perferendis delectus provident nostrum cum cupiditate, aliquam beatae velit error quibusdam, qui adipisci assumenda vitae sed explicabo, doloribus suscipit obcaecati.</span>
						</figcaption>
					</figure>
				</article>	
				<article class="Envios-item">
					<figure class="Header-imageContainer">
						<img src="../static/images/envios/dhl.png" alt="Imagen personal" class="Header-image">
						<figcaption  class="Header-imageDescription">
							<p class="Envios-titulo">Mercado Envios (DHL)</p>
							<span class="Envios-descripcion"> Costo de $100 a $150 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sunt impedit hic, aspernatur quidem vitae, blanditiis accusamus beatae dicta at reiciendis. Vero repellat omnis ea unde similique quas est, in!</span>
						</figcaption>
					</figure>
				</article>				
			</section>
		</div>
		<div class="section" id="section3"><h1>Just the simplest demo ever</h1>

		</div>
	</div>	
	</body>
</html>